on:
  push:
    branches:
      - main
  pull_request:

name: darwin
jobs:
  x86_64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true

      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "cerebre"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Flake check
        run: nix flake check

      - name: Build packages
        run: nix flake show --json | jq  '.packages."x86_64-darwin"|keys[]'| xargs -I {} nix build .#{}
  aarch64:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true

      - if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: cachix/cachix-action@v16
        with:
          name: "cerebre"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Flake check
        run: nix flake check

      - name: Build packages
        run: nix flake show --json | jq  '.packages."aarch64-darwin"|keys[]'| xargs -I {} nix build .#{}
